<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- context menu description  -->
      <Component Id="OpenWithEmacsMenuEntry"
                 Guid="*"
                 Win64="$(var.Win64)">
        <RegistryKey Root="HKMU"
                     Key="Software\Classes\*\shell\OpenWithEmacs_$(var.UpgradeCode)">
          <RegistryValue Type="string"
                         Value="Open with &amp;Emacs Client"
                         KeyPath="yes"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string"
                           Value='[INSTALLDIR]bin\emacsclientw.exe -n -a "" "%1"'/>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Id="OpenWithEmacsNewFrameMenuEntry"
                 Guid="*"
                 Win64="$(var.Win64)">
        <RegistryKey Root="HKMU"
                     Key="Software\Classes\*\shell\OpenWithEmacsNewFrame_$(var.UpgradeCode)">
          <RegistryValue Type="string"
                         Value="Open with Emacs Client (new &amp;frame)"
                         KeyPath="yes"/>
          <RegistryKey Key="command">
            <RegistryValue Type="string"
                           Value='[INSTALLDIR]bin\emacsclientw.exe -n -c -a "" "%1"'/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    <!-- shell context menu component group  -->
    <ComponentGroup Id="ShellContextMenuEntries">
      <ComponentRef Id="OpenWithEmacsMenuEntry"/>
      <ComponentRef Id="OpenWithEmacsNewFrameMenuEntry"/>
    </ComponentGroup>
  </Fragment>
</Wix>

