<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Config.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- add product to path -->
      <Component Id="AddProductToPath"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Environment Id="Env_PATH"
                     Name="PATH"
                     Value="[INSTALLDIR]bin\"
                     Separator=";"
                     Action="set"
                     Part="last"
                     System="yes" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKLM"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="EnvAddedtoPath"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
      <Component Id="SetEnv_EMACS_INSTALLDIR"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Environment Id="Env_EMACS_INSTALLDIR"
                     Name="EMACS_INSTALLDIR"
                     Value="[INSTALLDIR]"
                     Action="set"
                     System="yes" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKLM"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="EnvAddedEMACS_INSTALLDIR"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
