<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <!-- add product to path -->
	  <?if $(var.PerUserSupport) != "yes" ?>
	  <Component Id="AddProductToPath"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Environment Id="Env_PATH"
                     Name="PATH"
                     Value="[APPLICATIONFOLDER]bin\"
                     Separator=";"
                     Action="set"
                     Part="last"
                     System="yes" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKLM"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="EnvAddedtoPath"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
      <Component Id="SetEnv_EMACS_INSTALLDIR"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Environment Id="Env_EMACS_INSTALLDIR"
                     Name="EMACS_INSTALLDIR"
                     Value="[APPLICATIONFOLDER]"
                     Action="set"
                     System="yes" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKLM"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="EnvAddedEMACS_INSTALLDIR"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
	  <?endif?>
    </DirectoryRef>
  </Fragment>
</Wix>
