<?xml version="1.0" encoding="utf-8"?>
<!--
Created by Artem Boldariev <artem.boldarev@gmail.com>, 2018.
This file is distributed under the terms of CC0 license (Public Domain).

See the 'LICENSE.txt' file for the additional details.
-->

<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!--
        Unfortunately we have to disable ICE57 to add the shortcuts
        properly and without the errors.
        It is believed to be a false positive.
    -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="EmacsBinDir" Name="bin" />
    </DirectoryRef>

    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="EmacsStartMenuShortcuts"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Shortcut Id="EmacsStart.lnk"
                  Directory="ProgramMenuDir"
                  Name="$(var.ProductName).lnk"
                  Target="[APPLICATIONFOLDER]\bin\runemacs.exe"
                  WorkingDirectory="EmacsBinDir" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKMU"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="StartMenuShortcutsInstalled"
                       Value="1" KeyPath="yes"/>
        <RemoveFolder Id="ProgramMenuDir"
                      Directory="ProgramMenuDir"
                      On="uninstall" />
      </Component>
    </DirectoryRef>
    <!-- Desktop shortcuts -->
    <DirectoryRef Id="DesktopDir">
      <Component Id="EmacsDesktopShortcuts"
                 Guid="*"
                 Win64="$(var.Win64)">
        <Shortcut Id="EmacsDesktop.lnk"
                  Directory="DesktopDir"
                  Name="$(var.ProductName).lnk"
                  Target="[APPLICATIONFOLDER]\bin\runemacs.exe"
                  WorkingDirectory="EmacsBinDir" />
        <RegistryValue Action="write"
                       Type="integer"
                       Root="HKMU"
                       Key="Software\$(var.ManufacturerName)\$(var.ProductName)"
                       Name="DesktopShortcutsInstalled"
                       Value="1" KeyPath="yes"/>
        <RemoveFolder Id="DesktopDir"
                      Directory="DesktopDir"
                      On="uninstall" />
      </Component>
    </DirectoryRef>
    <!-- Quick Launch shortcuts -->
    <!-- <DirectoryRef Id="QuickLaunchDir"> -->
    <!--   <Component Id="EmacsQuickLaunchShortcuts" -->
    <!--              Guid="*" -->
    <!--              Win64="$(var.Win64)"> -->
    <!--     <Shortcut Id="EmacsQuickLaunch.lnk" -->
    <!--               Directory="QuickLaunchDir" -->
    <!--               Name="$(var.ProductName).lnk" -->
    <!--               Target="[APPLICATIONFOLDER]\bin\runemacs.exe"/> -->
    <!--     <RegistryValue Action="write" -->
    <!--                    Type="integer" -->
    <!--                    Root="HKMU" -->
    <!--                    Key="Software\$(var.ManufacturerName)\$(var.ProductName)" -->
    <!--                    Name="QuickLaunchShortcutsInstalled" -->
    <!--                    Value="1" KeyPath="yes"/> -->
    <!--     <RemoveFolder Id="QuickLaunchDir" -->
    <!--                   Directory="QuickLaunchDir" -->
    <!--                   On="uninstall" /> -->
    <!--   </Component> -->
    <!-- </DirectoryRef> -->

    <!-- Product shortcuts -->

    <!-- Start Menu -->
    <ComponentGroup Id="ProductStartMenuShortcuts">
      <ComponentRef Id="EmacsStartMenuShortcuts"/>
    </ComponentGroup>
    <!-- Desktop -->
    <ComponentGroup Id="ProductDesktopShortcuts">
      <ComponentRef Id="EmacsDesktopShortcuts"/>
    </ComponentGroup>
    <!-- Quick Launch -->
    <!-- <ComponentGroup Id="ProductQuickLaunchShortcuts"> -->
    <!--   <ComponentRef Id="EmacsQuickLaunchShortcuts"/> -->
    <!-- </ComponentGroup> -->
  </Fragment>
</Wix>
